.archive__list {
  margin-bottom: var(--space-sm);
}

.archive__list--sub-list {
  margin-left: var(--space-sm);
}

.archive__heading,
.archive__subheading {
  font-family: var(--heading-font-family);
  color: var(--color-dark-blue);
  margin-bottom: var(--space-xs);
}

.archive__heading {
  font-size: var(--size-heading-2);
}

.archive__subheading {
  font-size: var(--size-heading-3);
}

.archive__date {
  display: inline-block;
  font-style: italic;
  min-width: 2.25rem;
}
