@media (--viewport-lg) {
  .article {
    border-bottom: 1px solid var(--color-light-grey);
  }
}

.article__title {
  font-family: var(--heading-font-family);
  color: var(--color-dark-blue);
  margin-bottom: var(--space-sm);
}

.article__title a {
  color: inherit;
}

@media (--viewport-lg) {
  .article__title {
    margin-bottom: var(--space-md);
  }
}

.article__date {
  color: var(--color-grey);
  margin-bottom: var(--space-sm);
}

@media (--viewport-lg) {
  .article__date {
    display: none;
  }
}

.article__date-text {
  line-height: 2;
  margin-left: 10px;
  vertical-align: top;
}

.article p {
  margin-bottom: var(--space-sm);
}

@media (--viewport-lg) {
  .article p {
    margin-bottom: var(--space-md);
  }
}

/**
 * Link styles
 */

.article__content a {
  color: var(--color-light-blue);
  position: relative;
}

.article__content a:after {
  background-color: var(--color-light-blue);
  bottom: -1px;
  content: '';
  left: 0;
  height: 2px;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: opacity var(--transition-md) ease-out;
}

.article__content a img {
  transition:
    box-shadow var(--transition-md) ease-out,
    filter var(--transition-md) ease-out;
}

/**
 * Focus states
 */

.article__content a:focus:after {
  opacity: 1;
}

.article__content a:focus img {
  box-shadow: 0 0 12px var(--color-light-blue);
  filter: brightness(125%);
}

/**
 * Hover states
 */

.article__content a:hover:after {
  opacity: 1;
}

/**
 * Wordpress overrides
 */

.article .twitter-tweet,
.article .wp-caption {
  background-color: #fff;
  border: 1px solid var(--color-light-grey);
  border-radius: 4px;
  margin: 0 0 var(--space-sm);
  padding: var(--space-sm);
  text-align: center;
}

.article .wp-caption a {
  display: inline-block;
}

.article .wp-caption a:after {
  display: none;
}

.article [class*="wp-caption"] {
  width: auto !important;
}

@media (--viewport-lg) {
  .article .twitter-tweet,
  .article .wp-caption {
    margin: 0 0 var(--space-md);
    padding: var(--space-md);
  }
}

.article .wp-caption-text {
  font-family: var(--heading-font-family);
  margin: var(--space-sm) 0 0;
}

.article table {
  border-collapse: collapse;
  table-layout: fixed;
  display: block;
  overflow-x: auto;
  height: auto !important;
  max-width: 85vw;
  white-space: nowrap;
  margin-bottom: var(--space-md);
  width: auto !important;
}

@media (--viewport-lg) {
  .article table {
    max-width: 100%;
  }
}

.article th,
.article tr,
.article td {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: var(--color-dark-blue);
  padding: 5px;
}

.article th {
  border-width: 0 0 2px;
}
