@media (--viewport-lg) {
  .article {
    border-bottom: 1px solid var(--color-light-grey);
  }
}

.article__date {
  color: var(--color-grey);
  margin-bottom: var(--space-sm);
}

@media (--viewport-lg) {
  .article__date {
    display: none;
  }
}

.article__date-text {
  line-height: 2;
  margin-left: 10px;
  vertical-align: top;
}
