.comments {
  border-bottom: 1px solid var(--color-light-grey);
  padding-bottom: var(--space-md);
}

.comments__head {
  margin-bottom: var(--space-md);
}

.comments__title {
  margin-bottom: var(--space-sm);
}

.comments__list--sub-list {
  margin-left: var(--space-sm);
}

@media (--viewport-lg) {
  .comments__list--sub-list {
    margin-left: var(--space-md);
  }
}
