.comment {
  margin-bottom: var(--space-sm);
}

.comment__head {
  display: flex;
  margin-bottom: var(--space-sm);
}

.comment__avatar {
  background-image: var(--windy-svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: var(--space-sm);
  height: var(--icon-size-xl);
  width: var(--icon-size-xl);
}

.comment__metadata {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: var(--space-xs) 0;
}

.comment__date {
  font-size: var(--size-body-extra-small);
}

.comment__body {
  margin-bottom: var(--space-sm);
}

.comment__reply.is-hidden {
  display: none;
}

.comment__reply {
  transition: color var(--transition-md) ease-out;
}

.comment__reply:focus,
.comment__reply:hover {
  color: var(--color-light-blue);
}

.comment__reply-icon {
  display: inline-block;
  margin-right: var(--space-xs);
  vertical-align: middle;
}

.comment__reply-text {
  display: inline-block;
  position: relative;
  font-size: var(--size-body-extra-small);
  vertical-align: middle;
  transition: box-shadow var(--transition-md) ease-out;
}

.comment__reply:focus .comment__reply-text,
.comment__reply:hover .comment__reply-text {
  box-shadow: var(--link-focus);
}
