.comment-respond__title {
  border-bottom: 1px solid var(--color-light-grey);
  margin-bottom: var(--space-xs);
  padding-bottom: var(--space-sm);
}

.comment-respond__title-text {
  margin-right: var(--space-xs);
}

.comment-respond__text {
  font-size: var(--size-body-small);
}

.comment-respond__notes {
  font-size: var(--size-body-extra-small);
  margin-bottom: var(--space-sm);
}

.comment-respond__item {
  margin-bottom: var(--space-sm);
  max-width: 20rem;
}

.comment-respond__item--large {
  max-width: 40rem;
}

.comment-respond__cancel {
  font-size: var(--size-body-extra-small);
}

.comment-respond__label {
  display: block;
  margin-bottom: var(--space-xs);
}

.comment-respond__input {
  background-color: #fff;
  border: 1px solid var(--color-near-black);
  font-size: var(--size-body-small);
  padding: var(--space-xs);
  width: 100%;
}

.comment-respond__input:focus {
  background-color: var(--color-pale-blue);
  border-color: var(--color-light-blue);
  outline: 0;
}

.comment-respond__submit {
  background-color: var(--color-light-blue);
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: var(--heading-font-family);
  font-size: var(--size-body);
  padding: var(--space-xs);
}

.comment-respond__cancel a,
.comment-respond__cancel a:visited {
  color: var(--color-light-blue);
  transition: box-shadow var(--transition-md) ease-out;
}

.comment-respond__cancel a:focus,
.comment-respond__cancel a:hover {
  box-shadow: var(--link-focus);
}

.comment-respond__checkbox {
  margin-right: var(--space-sm);
}

.comment-respond__checkbox-label {
  font-size: var(--size-body-extra-small);
}
