.excerpt {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  border-bottom: 1px solid var(--color-light-grey);
  margin-bottom: var(--space-sm);
}

@media (--viewport-md) {
  .excerpt {
    margin-bottom: var(--space-md);
  }
}

.excerpt__head,
.excerpt__body {
  margin-bottom: var(--space-xs);
}

.excerpt__body {
  flex-grow: 1;
}

@media (--viewport-md) {
  .excerpt__head,
  .excerpt__body {
    margin-bottom: var(--space-sm);
  }
}

.excerpt__title {
  font-size: var(--size-heading-6);
}

.excerpt__list {
  color: var(--color-grey);
  font-size: var(--size-body-extra-small);
  margin-bottom: var(--space-sm);
}

.excerpt__list-item {
  display: inline-block;
  margin-bottom: var(--space-xs);
}

.excerpt__icon,
.excerpt__text {
  vertical-align: middle;
}

.excerpt__icon {
  height: 16px;
}

.excerpt__text {
  margin: 0 var(--space-sm) 0 var(--space-xxs);
}

.excerpt__audio {
  margin-bottom: var(--space-sm);
}

.excerpt__image {
  height: 200px;
  margin-bottom: var(--space-sm);
}

.excerpt__links {
  font-size: var(--size-body-extra-small);
  margin-bottom: var(--space-sm);
}

.excerpt__link {
  display: inline;
}

.excerpt__link:not(:last-child) {
  position: relative;
  margin-right: var(--space-xs);
  padding-right: var(--space-xs);
}

.excerpt__link:not(:last-child):after {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 1px;
  width: 2px;
  background-color: var(--color-light-blue);
}
