.excerpt {
  margin-bottom: var(--space-sm);
}

@media (--viewport-md) {
  .excerpt {
    margin-bottom: var(--space-md);
  }
}

.excerpt__head,
.excerpt__body,
.excerpt__title {
  margin-bottom: var(--space-xs);
}

.excerpt__metadata {
  color: var(--color-grey);
  font-size: 12px;
}

.excerpt__icon,
.excerpt__text {
  display: inline-block;
  vertical-align: middle;
}

.excerpt__icon {
  height: 16px;
}

.excerpt__text {
  margin: 0 15px 0 5px;
}
