/** @define Grid */

.Grid {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: var(--spaceSm);
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spaceSm);
}

.Grid-logo {
  display: flex;
  font-size: 0;
  justify-content: center;
}

.Grid-banner {
  display: none;
  position: relative;
}

@media (--viewportLg) {
  .Grid {
    grid-template-columns: 224px 1fr;
    grid-template-rows: 60px 134px;
    grid-gap: var(--spaceMd);
    padding: 0 var(--spaceMd);
  }

  .Grid-logo {
    grid-row: span 2;
  }

  .Grid-banner {
    display: block;
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .Grid-article {
    grid-column-start: 2;
    grid-row: span 2;
  }

  .Grid-metadata {
    grid-column-start: 1;
    grid-row: span 2;
  }

  .Grid-metadata.is-first {
    grid-row: span 1;
  }

  .Grid-footer {
    grid-column: 1 / -1;
  }
}

