/** @define Grid */

.Grid {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: var(--spaceSm);
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin: 0 var(--spaceSm);
}

@media (--viewportLg) {
  .Grid {
    grid-template-columns: 224px 1fr;
    grid-gap: var(--spaceMd);
    margin: 0 var(--spaceMd);
  }

  .Grid-article {
    grid-column-start: 2;
  }

  .Grid-metadata {
    grid-column-start: 1;
  }

  .Grid-footer {
    grid-column: 1 / -1;
  }
}

