.icon {
  display: inline-block;
  height: 32px;
  width: 32px;
}

.icon--small {
  height: 24px;
  width: 24px;
}

.icon--large {
  height: 48px;
  width: 48px;
}

.icon--facebook {
  color: var(--color-facebook);
}

.icon--twitter {
  color: var(--color-twitter);
}

.icon--rss {
  color: var(--color-rss);
}
