.link,
.link:hover,
.link:focus,
.link:visited {
  color: var(--color-light-blue);
  transition: box-shadow var(--transition-md) ease-out;
}

.link:focus,
.link:hover {
  box-shadow: var(--link-focus);
}
