.logo {
  width: 100%;
}

@media (--viewport-lg) and (min-height: 540px) {
  .is-fixed .logo {
    position: fixed;
    width: 168px;
    z-index: 10;
  }
}

@media (--viewport-xl) and (min-height: 540px) {
  .is-fixed .logo {
    width: 224px;
  }
}

.logo__link {
  display: block;
  margin: 0 auto;
  max-width: 320px;
  position: relative;
  border-radius: 50%;
  transition: box-shadow var(--transition-fs) ease-out;
}

.logo__link:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 6px var(--color-light-blue);
}

.logo__link:before {
  background-image: var(--windy-svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: block;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
  padding-bottom: 100%;
  width: 100%;
}

.logo__image {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity var(--transition-sl) ease-out;
  width: 100%;
}
