.metadata {
  display: flex;
  flex-flow: row wrap;
  font-size: 12px;
  margin-bottom: var(--space-sm);
  border-bottom: 1px solid var(--color-light-grey);
}

.metadata__item {
  display: flex;
  align-items: center;
  margin: 0 var(--space-sm) var(--space-sm) 0;
  color: var(--color-dark-blue);
}

@media (--viewport-md) {
  .metadata {
    margin-bottom: var(--space-md);
  }
}

@media (--viewport-lg) {
  .metadata {
    flex-flow: column wrap;
    border-bottom: none;
  }

  .metadata__item {
    margin-right: 0;
  }
}

.metadata__item--light {
  color: var(--color-grey);
  display: none;
  margin-bottom: var(--space-sm);
}

@media (--viewport-md) {
  .metadata__item--light {
    display: block;
  }
}

.metadata__icon {
  display: inline-block;
  vertical-align: middle;
}

.metadata__text {
  margin-left: var(--space-xs);
  text-transform: capitalize;
  transition: box-shadow var(--transition-md) ease-out;
  vertical-align: middle;
}

.metadata__link {
  display: inline-block;
  transition: color var(--transition-md) ease-out;
}

.metadata__link:hover,
.metadata__link:focus {
  color: var(--color-light-blue);
}

.metadata__link:hover .metadata__text,
.metadata__link:focus .metadata__text {
  box-shadow: var(--link-focus);
}

.metadata__tag-link {
  transition:
    box-shadow var(--transition-md) ease-out,
    color var(--transition-md) ease-out;
}

.metadata__tag-link:hover,
.metadata__tag-link:focus {
  color: var(--color-light-blue);
  box-shadow: var(--link-focus);
}
