.page {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: var(--space-sm);
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin: 0 var(--space-sm);
  padding: 0;
}

.page__logo {
  display: flex;
  font-size: 0;
  justify-content: center;
}

.page__banner {
  display: none;
  position: relative;
}

.page__pagination {
  display: flex;
  justify-content: center;
}

@media (--viewport-lg) {
  .page {
    grid-template-columns: 224px 1fr;
    grid-template-rows: 60px 134px;
    grid-gap: var(--space-md);
    padding: 0 var(--space-md);
  }

  .page__logo {
    grid-row: span 2;
  }

  .page__banner {
    display: block;
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .page__article {
    grid-column-start: 2;
    grid-row: span 2;
  }

  .page__metadata {
    grid-column-start: 1;
    grid-row: span 2;
  }

  .page__metadata.is-first {
    grid-row: span 1;
  }

  .page__pagination,
  .page__footer {
    grid-column: 1 / -1;
  }
}
