.search {
  display: flex;
}

.search__label {
  left: -10000px;
  position: absolute;
  top: -10000px;
}

.search__input {
  border: none;
  border-radius: 0;
  color: var(--color-near-black);
  font-family: var(--heading-font-family);
  max-width: 200px;
  padding: 10px;
}

.search__submit {
  background-color: var(--color-light-blue);
  border: none;
  color: #fff;
  font-family: var(--heading-font-family);
  min-width: 100px;
}
