.search {
  display: flex;
}

.search__label {
  left: -10000px;
  position: absolute;
}

.search__input {
  border: none;
  border-radius: 0;
  color: var(--color-near-black);
  font-family: var(--heading-font-family);
  font-size: var(--size-body-small);
  max-width: 8rem;
  padding: var(--space-xs);
}

.search__submit {
  background-color: var(--color-light-blue);
  border: none;
  color: #fff;
  font-family: var(--heading-font-family);
  font-size: var(--size-body-small);
  min-width: 5rem;
}
