.title {
  font-family: var(--heading-font-family);
  color: var(--color-dark-blue);
  font-size: var(--size-heading-1);
  margin-bottom: var(--space-sm);
}

.title a {
  color: inherit;
}

.title__icon,
.title__text {
  display: inline-block;
  vertical-align: middle;
}

.title__text {
  text-transform: capitalize;
}
