@media (--viewport-lg) {
  .article {
    border-bottom: 1px solid var(--color-light-grey);
  }
}

.article__date {
  color: var(--color-grey);
  margin-bottom: var(--space-sm);
}

@media (--viewport-lg) {
  .article__date {
    display: none;
  }
}

.article__date-icon {
  vertical-align: middle;
}

.article__date-text {
  margin-left: var(--space-xxs);
  vertical-align: middle;
  font-style: oblique;
  font-size: var(--size-body-small);
}
