.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: var(--heading-font-family);
  margin-bottom: var(--space-sm);
  color: var(--color-dark-blue);
}

.content h1 {
  font-size: var(--size-heading-1);
}

.content h2 {
  font-size: var(--size-heading-2);
}

.content h3 {
  font-size: var(--size-heading-3);
}

.content h4 {
  font-size: var(--size-heading-4);
}

.content h5 {
  font-size: var(--size-heading-5);
}

.content h6 {
  font-size: var(--size-heading-6);
}

.content p {
  margin-bottom: var(--space-sm);
}

.content ul,
.content ol {
  counter-reset: li;
  margin-bottom: var(--space-sm);
}

.content ul li,
.content ol li {
  counter-increment: li;
  position: relative;
  margin-bottom: var(--space-xs);
  padding-left: var(--space-md);
}

.content ul li:before,
.content ol li:before {
  position: absolute;
  left: 0;
}

.content ul li:before {
  content: "";
  top: calc(var(--base-line-height) / 2 * 1rem);
  background-color: var(--color-light-blue);
  width: var(--bullet-size);
  height: var(--bullet-size);
  border-radius: 50%;
  transform: translateY(-50%);
}

.content ol li:before {
  content: counter(li) ".";
  top: 0;
  color: var(--color-light-blue);
  font-weight: 700;
  font-size: 0.9rem;
}

.content a {
  color: var(--color-light-blue);
  transition: box-shadow var(--transition-md) ease-out;
}

.content a img {
  transition: box-shadow var(--transition-md) ease-out,
    filter var(--transition-md) ease-out;
}

.content a:focus {
  box-shadow: var(--link-focus);
}

.content a:focus img {
  box-shadow: var(--image-focus);
  filter: brightness(125%);
}

.content a:hover {
  box-shadow: var(--link-focus);
}

/**
 * Wordpress overrides
 */

.content .twitter-tweet {
  width: auto !important;
  margin: 0 auto;
}

.content .wp-caption {
  background-color: #fff;
  border: 1px solid var(--color-light-grey);
  border-radius: var(--space-xxs);
  display: inline-block;
  margin: 0 0 var(--space-sm);
  padding: var(--space-sm);
  width: auto !important;
}

.content .wp-caption a {
  display: inline-block;
}

.content .wp-caption a:after {
  display: none;
}

@media (--viewport-md) {
  .content .twitter-tweet,
  .content .wp-caption {
    padding: var(--space-sm) var(--space-md);
  }
}

.content .wp-caption-text {
  font-family: var(--heading-font-family);
  margin: var(--space-sm) 0 0;
}

.content .wp-block-quote {
  border-left: var(--space-xxs) solid var(--color-light-blue);
  margin-bottom: var(--space-sm);
  padding: var(--space-sm) var(--space-md);
}

.content .wp-block-quote cite {
  font-size: 0.8rem;
}

.content .wp-block-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content figcaption {
  font-size: var(--size-body-extra-small);
  font-style: italic;
  text-align: center;
  color: var(--color-dark-blue);
}

.content table {
  border-collapse: collapse;
  table-layout: fixed;
  display: block;
  overflow-x: auto;
  height: auto !important;
  max-width: 85vw;
  white-space: nowrap;
  margin-bottom: var(--space-md);
  width: auto !important;
}

@media (--viewport-md) {
  .content table {
    max-width: 100%;
  }
}

.content td {
  border: 1px solid var(--color-dark-blue);
  padding: var(--space-xs);
}

.content th {
  border-width: 0 0 2px;
}

.content iframe {
  max-width: 100%;
}
