:root {
  --nav-transition-duration: var(--transition-md);
}

.nav:after {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  transition: opacity var(--nav-transition-duration) ease-out,
    visibility var(--nav-transition-duration) ease-out;
  top: 0;
  visibility: hidden;
  z-index: 5;
}

.nav.is-open:after {
  visibility: visible;
  opacity: 1;
}

.nav__content {
  background-color: var(--color-dark-blue);
  bottom: 0;
  box-shadow: 0.25rem 0 0.25rem rgba(0, 0, 0, 0.25);
  color: #fff;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: var(--space-sm);
  position: fixed;
  top: 0;
  transform: translateX(-110%);
  transition: transform var(--nav-transition-duration) ease-out;
  z-index: 10;
  overflow-y: auto;
}

.logged-in .nav__content {
  top: 46px;
}

@media (--viewport-wordpress-admin-bar) {
  .logged-in .nav__content {
    top: 32px;
  }
}

.nav__body {
  flex-grow: 1;
}

.nav__title-link {
  display: inline-block;
  position: relative;
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
  border-radius: 50%;
  transition: box-shadow var(--transition-fs) ease-out;
}

.nav__title-link,
.nav__title-link:hover,
.nav__title-link:focus,
.nav__title-link:visited {
  color: #fff;
}

.nav__title-link:focus {
  box-shadow: 0 0 0 0.1rem var(--color-dark-blue), 0 0 0 0.2rem #fff;
}

.nav__title-link-image {
  position: absolute;
  top: 0;
  left: 0;
}

.nav__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  height: var(--icon-size-sm);
  padding: 0;
  position: absolute;
  right: var(--space-sm);
  top: var(--space-sm);
  transition: box-shadow var(--nav-transition-duration) ease-out,
    filter var(--nav-transition-duration) ease-out;
  width: var(--icon-size-sm);
}

.nav__close:focus {
  box-shadow: 0 0.1rem 0 0 #fff;
  outline: 0;
}

.nav__close:hover {
  filter: drop-shadow(0 0 0.1rem #fff);
}

.nav__close-bar {
  background-color: #fff;
  border-radius: 8%;
  height: 8%;
  position: absolute;
  left: 0;
  transition: transform var(--nav-transition-duration) ease-out
    var(--nav-transition-duration);
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
}

.nav__close-text {
  left: -10000px;
  position: absolute;
}

/**
 * nav List
 */

.nav__list {
  font-family: var(--heading-font-family);
  font-size: var(--size-heading-6);
}

.nav__list .nav__list {
  margin-left: var(--space-sm);
}

.nav__link,
.nav__link:active,
.nav__link:focus,
.nav__link:hover,
.nav__link:visited {
  color: #fff;
  display: inline-block;
  margin-bottom: var(--space-xs);
  transition: box-shadow var(--nav-transition-duration) ease-out,
    text-shadow var(--nav-transition-duration) ease-out;
}

.nav__link:hover {
  text-shadow: 0 0 0.1rem #fff;
}

.nav__link:focus {
  box-shadow: 0 0.1rem 0 0 #fff;
}

/**
 * nav Social
 */

.nav__social {
  margin-bottom: var(--space-xs);
}

.nav__social-link,
.nav__social-link:active,
.nav__social-link:focus,
.nav__social-link:hover,
.nav__social-link:visited {
  display: inline-block;
  color: #fff;
  transition: box-shadow var(--nav-transition-duration) ease-out,
    filter var(--nav-transition-duration) ease-out;
}

.nav__social-link:focus {
  box-shadow: 0 0.1rem 0 0 #fff;
}

.nav__social-link:hover {
  filter: drop-shadow(0 0 0.1rem #fff);
}

.nav.is-open .nav__content {
  transform: translateX(0);
}

.nav.is-open .nav__close-bar:nth-of-type(1) {
  transform: translateY(-50%) rotate(45deg);
}

.nav.is-open .nav__close-bar:nth-of-type(2) {
  transform: translateY(-50%) rotate(-45deg);
}
